.project {
    line-height: 1.5;
    background-color: #121212;
    padding-bottom: 5vh;
}

.brmedium {
    display: block;
    margin-bottom: 1em;
}

.project_container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "project_wrapper";
}

.project_wrapper {
    width: 70vw;
    margin-left: 15vw;
    margin-left: 15vw;
    margin-top: 10vh;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10vh 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "project_info"
        "project_info2";
    grid-area: project_wrapper;
}

/****************INFO 1****************/
.project_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5vw;
    grid-auto-flow: column;
    grid-template-areas:
        "project_text project_img";
    grid-area: project_info;
}

.project_info p, .project_info2 p, .project_info3 p {padding-top: 1rem;}
.project_text {
    grid-area: project_text;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_info i { 
    padding-right: 1rem; 
    color: #8156F9;
}

.project_img {
    grid-area: project_img;
    overflow: hidden;
    object-fit: contain; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_img img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/****************INFO 2****************/
.project_info2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 7vh 10vw;
    grid-template-areas:
    "project_img2 project_img3"
    "project_text2 project_text3"
    ;  
    grid-area: project_info2;
}

.project_text2 {grid-area: project_text2;}
.project_text3 {grid-area: project_text3;}
.project_img2 {grid-area: project_img2;}
.project_img3 {grid-area: project_img3;}

.project_img2, .project_img3 {
    overflow: hidden;
    object-fit: contain; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_img2 img, .project_img3 img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {

    .project_wrapper {
        padding: 0;
        width: 80vw;
        margin-left: 10vw;
        margin-left: 10vw;
        margin-top: 5vh;
        grid-auto-flow: row;
        height: fit-content;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 10vh 0px;
        grid-template-areas:
        "project_info"
        "project_info2";
    }

    h1{
        font-size: 25px;
    }


    .project_info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
        "project_img"
        "project_text";
        grid-area: project_info;
        align-self:none;
        justify-content: none;  
        align-items: none;
    }
    
    .project_text { 
        grid-area: project_text; 
        align-self: center;
        padding-top: 5vh;
    }
    
    .project_img {
        grid-area: project_img;
        padding-top: 0;
        overflow: hidden;
        object-fit: contain; 
    }
    
    .project_img img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .project_info2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-gap: 5vh 0vw;
        grid-template-areas:
        "project_text2"
        "project_img2"
        "project_text3"
        "project_img3"
        ;  
        grid-area: project_info2;
    }

    .project_text3 {
        padding-top: 7vh;
    }
}