.hero-container {
  background: url('/src/image/2675337.png') center center/cover no-repeat;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.39);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.social-icons-navbar {
  height: 80px;
  width: 90px;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
  position: absolute;
  margin-left: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hero-container h1 {
  color: white;
  font-size: 100px;
  margin-top: -100px;
}
.fab {
    color: white;
    padding-right: 10px;
    padding-top: 5px;
}
.fab:hover {
  animation: bounce 1s;
}

.hero-container p {
  margin-top: 8px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 15px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container h1 {
    font-size: 70px;
    margin-top: -150px;
  }

}

@media screen and (max-width: 768px) {
  .hero-container h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container p {
    font-size: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 1.5;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }

  .social-icons-navbar{
    margin-left: 20vw;
  }
}
