.project {
    line-height: 1.5;
    background-color: #121212;
    padding-bottom: 5vh;
}

.brmedium {
    display: block;
    margin-bottom: 1em;
}

.close_btn{
    position: absolute;
    z-index: 1;
    right: 18vw;
    top: 18vh;
}

.close_btn i {
    font-size: 25px;
    color: white;
}

.project_headline {
    padding-top: 5vh;
    width: 70vw;
    margin-left: 15vw;
    margin-left: 15vw;
}

.project_headline h2 {
    padding-bottom: 2rem;
}

.project_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "project_wrapper";
}

.project_wrapper {
    padding: 5%;
    width: 70vw;
    margin-left: 15vw;
    margin-left: 15vw;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "project_info"
        "project_imgs";
    grid-area: project_wrapper;
    background-color: #1D1D1D;
    border-radius: 51px;
}

.project_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas:
        "project_text project_img";
    grid-area: project_info;
    border-radius: 51px;
    align-self:flex-start;
    justify-content: center;  
    align-items: center;
}

.project_text { 
    grid-area: project_text; 
    align-self: center;
}

.project_info i { 
    padding-right: 1rem; 
    color: #8156F9;
}

.project_img {
    grid-area: project_img;
    overflow: hidden;
    object-fit: contain; 
}

.project_img img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 51px;
}

.project_imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 5vw;
    grid-auto-flow: row;
    grid-template-areas:
        "project_img1 project_img2 project_img3";
    grid-area: project_imgs;
    justify-content: center;  
    align-items: center;
    
}

.project_img1 img, .project_img2 img, .project_img3 img {
    object-fit: cover;
    width: 100%;
    max-height: auto;
    overflow: hidden;
    align-self: center; 
}

.project_img1 { grid-area: project_img1;}
.project_img2 { grid-area: project_img2; }
.project_img3 { grid-area: project_img3; }


@media screen and (max-width: 768px) {

    .project_wrapper {
        padding: 0;
        width: 80vw;
        margin-left: 10vw;
        margin-left: 10vw;
        grid-auto-flow: column;
        height: fit-content;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }


    .project_info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 0px 5%;
        grid-auto-flow: column;
        grid-template-areas:
        "project_img"
        "project_text";
        grid-area: project_info;
        border-radius: 51px;
        align-self:none;
        justify-content: none;  
        align-items: none;
    }
    
    .project_text { 
        grid-area: project_text; 
        align-self: center;
        padding: 5%;
    }

    .close_btn i {
        font-size: 25px;
        color: black;
    }
    
    .project_img {
        grid-area: project_img;
        padding-top: 0;
        overflow: hidden;
        object-fit: contain; 
    }
    
    .project_img img {
        object-fit: cover;
        width: 100%;
        height: auto;
        border-radius: 51px 51px 0px 0px;
    }

    .project_imgs {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 2rem 0px;
        grid-auto-flow: column;
        grid-template-areas:
            "project_img1" 
            "project_img2"
            "project_img3";
        grid-area: project_imgs;
        justify-content: center;  
        align-items: center;
    }

    .project_img1 img, .project_img2 img, .project_img3 img {
        object-fit: cover;
        width: 40vw;
        max-height: auto;
        overflow: hidden;
    }
}