.work-container {
    background-color: #121212;
    line-height: 1.5;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

h2 {
    color: #03DAC6;
}

.fas {
    padding-right: 10px;
    padding-top: 5px;
    color: #03dac5;
}

#highlight {
    color: white;
}

.work-container-grid {
    padding-bottom: 5vh;
    display: grid;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "work1-img work1-txt"
    "work2-txt work2-img"
    "work3-img work3-txt"
    "work4-txt work4-img"
    "work5-img work5-txt"
}

img {
    width: 40vw;
    display: block;
}


.work1-img {grid-area: work1-img;}
.work2-img {grid-area: work2-img;}
.work3-img {grid-area: work3-img;}
.work4-img {grid-area: work4-img;}
.work5-img {grid-area: work5-img;}

.work1-txt {
    grid-area: work1-txt;
    margin-left: 3vw;
}
.work2-txt {
    grid-area: work2-txt;
    margin-right: 3vw;
}
.work3-txt {
    grid-area: work3-txt;
    margin-left: 3vw;
}
.work4-txt {
    grid-area: work4-txt;
    margin-right: 3vw;
}
.work5-txt {
    grid-area: work5-txt;
    margin-left: 3vw;
}


.work1-txt, .work2-txt, .work3-txt, .work4-txt, .work5-txt    {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#end {
    align-self: end;
}

@media screen and (max-width: 900px) {
    .work-container-grid {
        display: grid;
        margin-left: 10vw;
        margin-right: 10vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "work1-img"
        "work1-txt"
        "work2-img"
        "work2-txt"
        "work3-img"
        "work3-txt"
        "work4-img"
        "work4-txt"
        "work5-img"
        "work5-txt"
    }

    .work1-txt, .work2-txt, .work3-txt, .work4-txt, .work5-txt    {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10vh;
        width: 80vw;
    }

    img {
        width: 80vw;
        display: grid;
        margin-bottom: 5vh;
    }
}